.video-container {
  width: 100%;
}

.video-container iframe {
  width: 80%;
  margin: 0 auto;
  height: 50rem;
}
.video-container iframe.full-size {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .video-container iframe {
    width: 90%;
  }
}
